*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main{
margin-top: 55px;
height: 600px;
width: 900px;
background-color: antiquewhite;
}
.left{
    height: 600px;
    width: 400px;
    color: aliceblue;
    background-color: rgb(38, 214, 179);
    float: left;
}
.ryt{
    height: 600px;
    width: 900px;
    background-color: aliceblue;
}
#wel{
    position: relative;
    top: 33%;
}
p{
    position: relative;
    top: 37%;
}
button{
height: 50px;
width: 200px;
font-size: 15px;
border: 2px solid aliceblue;
border-radius: 30px;
color: aliceblue;
background-color: rgb(38, 214, 179);
position: relative;
top: 40%;
}
.create{
    position: relative;
    top: 15%;
    font-size: 44px;
    color: rgb(38, 214, 179);

}
.fb{
    position: relative;
    top: 120px;
    left: 95px;
}
.twi{
    position: relative;
    top: 120px;
    left: 120px;
}
.insta{
    position: relative;
    top: 120px;
    left: 140px;
}
p2{
    position: relative;
    top: 27%;
    left:-85px;
}
.one{
   margin-top:171px;
   margin-right: -2px;
    width: 280px;
    height: 35px;
    padding-left: 50px;
}
.two{
   margin-top: 10px;
   margin-right:-2px; 
    width: 280px;
    height: 35px;
    padding-left: 50px;
}
.three{
    margin-top: 10px;
   margin-right:-1px;    
     width: 280px;
     height: 35px;
     padding-left: 50px;
 }
 .email{
    position: relative;
    top: 242px;
    right:48px;
 }
 .user{
    position: relative;
    top: 197px;
    right: 67px;
 }
 .lock{
    position: relative;
    top: 288px;
    right:84px;
 }
 .sign{
    height: 50px;
    width: 210px;
    padding-left: 65px;
    padding-top: 12px;
    margin-top: 30px;
    border: 2px solid  rgb(38, 214, 179);

    display: inline-flex;
    border-radius:30px ;
    background-color: rgb(38, 214, 179);

 }
 